<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hellojuly.qq.luckymoney">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.hellojuly.qq.luckymoney.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MessageReceiverActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MessageSenderActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MessageToAndFromActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MessageSenderTableActivity" android:screenOrientation="portrait" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>
</manifest>
